div.spacer {
	height: 100%;
	padding: 0 3px;
	background-color: rgba(0, 0, 0, 0.0);
	transition: padding 300ms;
}


.being-dragged {
	opacity: 0.65;
	z-index: 1000;
	position: static;
}


.item-dragged-onto {
	z-index: 10;
	opacity: 0.5;
}


.item-dragged-onto-from-right div.spacer.left-spacer,
.item-dragged-onto-from-left div.spacer.right-spacer {
	padding: 0 40px;
	background-color: rgba(0, 255, 0, 0.9);
}


delete-image-glyphicon {
	cursor: default;
}
