<div class="image-container"
	 [class.selected-image-container]="selected" (click)="toggleSelect()"
	 (mouseover)="hover()" (mouseleave)="unHover()"
>

	<delete-item-button [class.invisible]="!(isHovered())" (click)="deleteImage()">
	</delete-item-button>

	<a [routerLink]="getRouterLink()">

		<!--  Setting draggable to false on the img prevents a ghost-image from being
		dragged.   -->

		<img draggable="false" [src]="image.src" alt="{{image.description}}" [width]="imageWidth"
			 [title]="image.name"
		/>

	</a>

</div>
