# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true
ij_html_keep_whitespaces = true
ij_any_keep_simple_blocks_in_one_line = true
ij_any_keep_simple_methods_in_one_line = true
ij_css_space_after_colon = true
ij_css_space_before_opening_brace = true


[*.md]
trim_trailing_whitespace = false
max_line_length = 90
