<ng-container *ngIf="doneProcessing">

	<re-arrangeable-list [list]="images">

		<re-arrangeable-list-item *ngFor="let img of images;let i = index;" [index]="i">

			<div (click)="showOptions()" (mouseleave)="hideOptions()">
				<img [src]="img.src" alt="{{img.description}}" width="180px" [title]="img.name"/>


				<ng-container *ngIf="optionsVisible">

					<input type="text" [(ngModel)]="description" placeholder="Add Description"/>

				</ng-container>
			</div>

		</re-arrangeable-list-item>

	</re-arrangeable-list>

</ng-container>


<!--   Clicking this saves changes to file that downloads to computer.    -->
<ng-container>
	<button (click)="saveChanges()">Save Changes</button>
</ng-container>
