<div *ngIf="images.length > 0">

	<re-arrangeable-list [list]="images">

		<re-arrangeable-list-item *ngFor="let img of images;let i = index;" [index]="i">

			<div (click)="showOptions(i)" (mouseleave)="hideOptions()">

				<!--  Setting draggable to false on the img prevents a ghost-image from being
				dragged.   -->
				<img draggable="false" [src]="img.src" alt="{{img.description}}" width="180px"
					 [title]="img.name"/>


				<ng-container *ngIf="i === imageWithOptionsVisible">

					<input type="text" [(ngModel)]="img.description" placeholder="Add Description"/>

				</ng-container>
			</div>

		</re-arrangeable-list-item>

	</re-arrangeable-list>

	<!--   Clicking this saves changes to file that downloads to computer.    -->
	<ng-container>
		<button (click)="saveChanges()">Save Changes</button>
	</ng-container>

</div>
