<header><h2>{{heading}}</h2></header>

<div>
	<img [src]="tonto.src" [width]="tonto.width" alt="Tonto from The Lone Ranger"/>
	<p class="warning-text">Tread carefully, kemosabe. You cannot undo this.</p>

	<p>If you wish to proceed, enter your info and click Delete</p>

	<div class="input-container">

		<label for="email-input" hidden>Email</label>
		<input type="text"
			   id="email-input"
			   name="email"
			   required
			   placeholder="Email..."
			   [minLength]="userValidationRules.emailMinLength"
			   [(ngModel)]="currentUser.email"
		/>

	</div>

	<div class="input-container">

		<label for="password-input" hidden>Password</label>
		<input type="password"
			   id="password-input"
			   name="password"
			   required
			   placeholder="Password..."
			   [minLength]="userValidationRules.passwordMinLength"
			   [(ngModel)]="currentUser.password"
		/>

	</div>

	<button (click)="delete()">Delete</button>
</div>
