<div *ngFor="let input of inputs;  let i = index;"
	 class="input-container"
	 [class.input-with-error]="input.error"
>
	<p *ngIf="input.prompt">{{input.prompt}}</p>

	<label for="{{input.id}}" [hidden]="input.hideLabel">{{input.placeholder}}</label>

	<input [type]="input.type" (blur)="validate(i)"
		   id="{{input.id}}"
		   [name]="input.id"
		   [required]="input.required"
		   [placeholder]="input.placeholder"
		   [(ngModel)]="input.objectToBind[input.propertyToBind]"
	/>

	<div *ngIf="input.error"><strong>{{input.error}}</strong></div>

</div>
