<div *ngFor="let input of inputs;  let i = index;"
	 class="input-container"
	 [class.input-with-error]="input.error.length"
	 [class.required]="input.required"
>
	<p *ngIf="input.prompt">{{input.prompt}}</p>

	<label for="{{input.id}}" [hidden]="input.hideLabel">{{input.label}}</label>

	<input [type]="input.type"
		   (blur)="validate(i)"

		   id="{{input.id}}"

		   [class.input-with-error]="input.error.length"
		   [name]="input.id"
		   [required]="input.required"

		   [placeholder]="input.hidePlaceholder ? '' : input.label"
		   [(ngModel)]="input.objectToBind[input.propertyToBind]"

		   [maxLength]="input.maxLength" [minLength]="input.minLength"
		   [max]="input.max" [min]="input.min"
	/>

	<p *ngIf="input.error.length">{{input.error}}</p>

</div>
