<div *ngFor="let input of inputs;  let i = index;"
	 class="input-container"
	 [class.input-with-error]="input.error.length"
	 [class.required]="input.required"
>
	<p *ngIf="input.prompt">{{input.prompt}}</p>

	<label for="{{input.id}}" [hidden]="input.hideLabel">{{input.placeholder}}</label>

	<input [type]="input.type" (blur)="validate(i)"
		   id="{{input.id}}"
		   [class.input-with-error]="input.error.length"
		   [name]="input.id"
		   [required]="input.required"
		   [placeholder]="input.placeholder"
		   [(ngModel)]="input.objectToBind[input.propertyToBind]"
		   [max]="input.max"
		   [min]="input.min"
	/>

	<p *ngIf="input.error.length"><strong>{{input.error}}</strong></p>

</div>
