<div class="form-container">
	<form>

		<div class="input-container">

			<label for="email-input" hidden>Email</label>
			<input type="text"
				   id="email-input"
				   name="email"
				   required
				   placeholder="Email..."
				   [(ngModel)]="currentUser.email"
			/>

		</div>

		<div class="input-container">

			<label for="password-input" hidden>Password</label>
			<input type="password"
				   id="password-input"
				   name="password"
				   required
				   placeholder="Password..."
				   [(ngModel)]="currentUser.password"
			/>

		</div>

		<div>
			<button (click)="login()">Log In</button>
		</div>

	</form>

	<little-loading-spinner *ngIf="dataOperationBegun.waitingForResult"></little-loading-spinner>
</div>
