<nav>

	<div class="centered-nav-block-container">

		<logout-button></logout-button>

		<div *ngIf="updateUserNotActive()" class="input-container nav-link-container">
			<a [routerLink]="moduleRoutes.UpdateUserModule" [routerLinkActive]="'true'">
				Update Account
			</a>
		</div>

		<div  *ngIf="addImagesNotActive()" class="input-container nav-link-container">
			<a [routerLink]="moduleRoutes.AddImagesModule">Add Images</a>
		</div>

		<div *ngIf="allImagesNotActive()"  class="input-container nav-link-container">
			<a [routerLink]="moduleRoutes.AllImagesModule">All Images</a>
		</div>

	</div>

</nav>
