<hoverable-container #container>

	<div class="image-container"
		 [class.highlighted-image-container]="image['selected'] || isHovered(container)"
		 (click)="toggleSelect()"
	>

		<delete-image-glyphicon *ngIf="deleteGlyphiconEnabled" [image]="image"
								[class.invisible]="!(isHovered(container))"
		>
		</delete-image-glyphicon>

		<a [routerLink]="getRouterLink()">
			<thumbnail-image [data]="image"></thumbnail-image>
		</a>

		<image-action-menu [class.invisible]="!(isHovered(container))" [image]="image">
		</image-action-menu>

	</div>

</hoverable-container>
