img {
	display: block;
	margin: 0;
}

.processing-button-container {
	min-height: 35px;
	max-height: 35px;
	margin: auto;
}

.processing-button-container button, .processing-button-container button div {
	height: 34px;
}


.processing-button-container div {
	display: block;
	margin: 0;
}


tiny-loading-spinner {
	margin: 0;
	max-height: 35px;
}
