img {
	display: block;
	margin: 0;
}

.processing-button-container {
	min-height: 35px;
	max-height: 35px;
	margin: auto;
	min-width: 100px;
	max-width: fit-content;
}

.processing-button-container button, .processing-button-container button div {
	min-width: 100px;
	max-width: fit-content;
	height: 34px;
}


.processing-button-container div {
	display: block;
	margin: 0;
}


.processing-button-container button div {
	margin: 0;
	max-height: 35px;
}
