
.processing-button-container {
	height: 35px;
	margin: auto;
}


.processing-button-container div {
	margin: auto;
	height: 100%;
}


.processing-button-container button div {
	margin: 0;
}


.processing-button-container div {
	display: inline-flex;
}
