.action-menu-choices {
	cursor: pointer;
	/* width: max-content; */
	z-index: 2000;
	background-color: white;
	display: flex;
	flex-flow: column wrap;

	/*  This makes sure there's no gap between the dropdown button and the menu, and
	prevents accidental un-hovering  */
	margin: 0;
}
