.processing-button-container {
	min-height: 35px;
	max-height: 35px;
	margin: auto;
}

.processing-button-container  button {
	height: 34px;
}


tiny-loading-spinner {
	margin: 0;
	max-height: 35px;
}
