<div class="input-container">

	<label for="password-input" hidden>Password</label>

	<input type="password"
		   id="password-input"
		   name="password"
		   required
		   placeholder="Password..."
		   [(ngModel)]="currentUser.password"
	/>

</div>

<div class="input-container">

	<label for="new-password-input" hidden>Password</label>

	<input type="password"
		   id="new-password-input"
		   name="new-password"
		   required
		   placeholder="New Password..."
		   [(ngModel)]="currentUser.newPassword"
	/>

</div>
