<div class="input-container">

	<label for="email-input" hidden>Email</label>
	<input type="text"
		   id="email-input"
		   name="email"
		   required
		   placeholder="Email..."
		   [minLength]="userValidationRules.emailMinLength"
		   [(ngModel)]="currentUser.email"
	/>

</div>


<div class="input-container">

	<label for="current-password-input" hidden>Current Password</label>

	<input type="password"
		   id="current-password-input"
		   name="current-password"
		   required
		   placeholder="Current Password..."
		   [minLength]="userValidationRules.passwordMinLength"
		   [(ngModel)]="currentUser.password"
	/>

</div>


<div class="input-container">

	<label for="new-password-input" hidden>New Password</label>

	<input type="password"
		   id="new-password-input"
		   name="new-password"
		   required
		   placeholder="New Password..."
		   [minLength]="userValidationRules.passwordMinLength"
		   [(ngModel)]="currentUser.newPassword"
	/>

</div>


<div class="input-container">

	<label for="new-password-again-input" hidden>New Password Again</label>

	<input type="password"
		   id="new-password-again-input"
		   name="new-password-again"
		   required
		   placeholder="New Password Again..."
		   [minLength]="userValidationRules.passwordMinLength"
		   [(ngModel)]="currentUser.passwordAgain"
	/>

</div>

<div>
	<button (click)="save()">Save Changes</button>
</div>
