.action-menu {
	display: block;
	cursor: pointer;
	width: max-content;
	z-index: 1000;
	background-color: white;

	/* This makes sure there's no gap between the dropdown button and the menu, and
	prevents accidental un-hovering from happening */
	margin: 0;
}
