action-menu-button  button.action-menu-button {
	padding: 3px 8px;
}

menu-choice {
	width: 100%;
	height: fit-content;
}


menu-choice  hoverable-container  div.label-container {
	margin: 5px 0 5px 5px;
}


menu-choice  hoverable-container  .hovered {
	background-color: #ececec;
}


menu-choice  .dropdown-submenu  .dropdown-menu {
	display: block;
	top: 0;
	left: 100%;
	margin-top: -1px;
}
