.menu-choice-label-container {
	margin: 5px 0 5px 5px;
}


li.menu-choice  div.hovered {
	background-color: #ececec;
}


.dropdown-submenu  .dropdown-menu {
	display: block;
	top: 0;
	left: 100%;
	margin-top: -1px;
}
