thumbnail-image-container  thumbnail-image  html-image  img {
	box-shadow: -2px -2px 10px 3px #dcdcdc;
}


thumbnail-image-container  image-action-menu  action-menu-button  button {
	height: 30px;
	padding: 0;
	width: 40px;
}


thumbnail-image-container  image-action-menu  button  div {
	margin: auto;
}


thumbnail-image-container  image-action-menu  action-menu-button  button  sprocket-wheel {
	display: inline;
}


thumbnail-image-container  image-action-menu  action-menu-button  button  sprocket-wheel  img {
	width: 11px;
}


thumbnail-image-container  image-action-menu  button  div span.caret {
	position: relative;
	right: 3px;
	top: 14px;
}


thumbnail-image-container  image-action-menu  div.action-menu-container {
	height: fit-content;
	position: relative;
	z-index: 1000;
}


thumbnail-image-container  image-action-menu  ul.action-menu {
	top: 30px;
}
