.action-menu {
	cursor: pointer;

	/* This makes sure there's no gap between the menu and the dropdown button, and
	prevents accidental un-hovering from happening */
	margin: 0;
}


.action-menu-closed {
	display: none;
}


.action-menu-open {
	position: absolute;
	display: block;
	z-index: 1000;
	background-color: white;
}
