<div>
	<div class="dropdown" (mouseover)="hover()" (mouseleave)="unHover()">

		<button class="btn btn-default" type="button" id="menu1" (click)="toggleOpen()"
			[class.single-image-mode]="singleImageMode"
		>
			<div>
				<ng-container *ngIf="!(singleImageMode)">{{label}}</ng-container>

				<img *ngIf="singleImageMode" [src]="sprocket.src" [width]="sprocket.width"
					 [height]="sprocket.height" [alt]="sprocket.alt"
				/>
				<span class="caret"></span>
			</div>
		</button>

		<ul class="dropdown-menu action-menu"
			[class.action-menu-closed]="!(open)" [class.action-menu-open]="open"
		>
			<menu-choice *ngFor="let choice of choices" [data]="choice"></menu-choice>
		</ul>
	</div>
</div>
