button.single-image-mode {
	width: 40px;
	height: 30px;
	padding: 0;
}

button.single-image-mode div {
	margin: auto;
}

button.single-image-mode div span.caret {
	position: relative;
	top: 14px;
	right: 3px;
}

.action-menu {
	cursor: pointer;

	/* This makes sure there's no gap between the dropdown button and the menu, and
	prevents accidental un-hovering from happening */
	margin: 0;
}


.action-menu-closed {
	display: none;
}


.action-menu-open {
	position: absolute;
	display: block;
	z-index: 1000;
	background-color: white;
}
