
.processing-button-container {
	width: 100px;
	height: 35px;
	margin: auto;
}


.processing-button-container div {
	margin: auto;
	height: 100%;
}


.processing-button-container button {
	width: 100px;
	/*	height: 35px; */
}


.processing-button-container button div {
	margin: 0;
}


.processing-button-container div {
	display: inline-flex;
}
