<li role="presentation" [class.dropdown-submenu]="isSubmenu()" [class.hovered]="hovered"
	(click)="toggleClick($event)" (mouseover)="hovered=true" (mouseleave)="hovered=false"
>

	<start-data-process-list-item *ngIf="!(isSubmenu())" [context]="this" [processArgs]="[data]">
		{{ getLabel() }}
	</start-data-process-list-item>


	<ng-container *ngIf="isSubmenu()">
		{{ getLabel() }}

		<img [src]="triangle.src" [width]="triangle.width" [height]="triangle.height"
			 [alt]="triangle.alt"
		/>

		<ul *ngIf="clicked" class="dropdown-menu">
			<menu-choice *ngFor="let choice of choices" [data]="choice"></menu-choice>
		</ul>
	</ng-container>

</li>
