<li role="presentation" [class.dropdown-submenu]="isSubmenu()" (click)="toggleClick($event)">

	<click-start-data-process-list-item *ngIf="!(isSubmenu())"
		[context]="this" [processArgs]="[data]"
	>
		{{ getLabel() }}
	</click-start-data-process-list-item>


	<ng-container *ngIf="isSubmenu()">
		{{ getLabel() }} <span class="glyphicon-chevron-right"></span>

		<ul *ngIf="clicked" class="dropdown-menu">
			<menu-choice *ngFor="let choice of choices" [data]="choice"></menu-choice>
		</ul>
	</ng-container>

</li>
