<div
	class="validating-input-container"
	[class.validating-input-with-error]="data.triggeredError.length"
	[class.required]="data.required"
>
	<p *ngIf="data.prompt" class="validating-input-prompt">{{data.prompt}}</p>

	<label for="{{data.id}}" class="validating-input-label" [hidden]="data.hideLabel">
		{{data.label}}
	</label>

	<input [type]="data.__type"
		   (keyup)="data.__type === 'number' ? validate(): undefined"
		   (change)="data.__type === 'number' ? validate(): undefined"
		   (blur)="validate()"

		   id="{{data.id}}"
		   class="validating-input"
		   [class.validating-input-with-error]="data.triggeredError.length"

		   [name]="data.id"

		   [placeholder]="data.hidePlaceholder ? '' : data.label"
		   [(ngModel)]="data.objectToBind[data.propertyToBind]"

		   [maxLength]="data.maxLength ? data.maxLength : 200"
		   [minLength]="data.minLength"
		   [max]="data.max"
		   [min]="data.min"

		   autocomplete="on"
	/>

	<p *ngIf="data.triggeredError.length" class="validating-input-error">{{data.triggeredError}}</p>

</div>
