<div style="text-align:center;">
	<h1>
		Welcome to {{ title }}
	</h1>

	<p *ngIf="!showLibraryChooser && !createNewLibrary">You can create a new library, or open an
		existing library to view.</p>

	<div>
		<button (click)="createNewLibrary = true">Create New Library</button>
	</div>

	<div *ngIf="!(showLibraryChooser)">
		<button (click)="showLibraryChooser = true">Open Existing Library</button>
	</div>


	<library-chooser *ngIf="showLibraryChooser"></library-chooser>


	<image-viewer></image-viewer>

	<!-- Temporarily not used (do not delete!):


	<image-chooser></image-chooser>

	-->

	<router-outlet></router-outlet>
</div>
