<div class="container-fluid" style="text-align:center;">

	<header id="site-header">

		<h1>
			<a routerLink="/" routerLinkActive="active" title="home page">{{ title }}</a>
		</h1>

		<nav *ngIf="sessionIDExists">
			<logout-button></logout-button>
			|
			<a routerLink="update-account" routerLinkActive="active">Update Account</a>
		</nav>

	</header>

	<main>
		<router-outlet></router-outlet>
	</main>

	<little-loading-spinner *ngIf="dataOperationStatus.waitingForResult"></little-loading-spinner>

	<app-alert *ngIf="alert.data"></app-alert>

</div>
