<div class="container-fluid" style="text-align:center;">

	<header id="site-header">

		<h1>
			<a routerLink="/" routerLinkActive="active" title="home page">{{ siteHeading }}</a>
		</h1>

		<logged-in-navigator *ngIf="loggedIn"></logged-in-navigator>

	</header>

	<app-alert *ngIf="alert.data"></app-alert>

	<main>
		<router-outlet></router-outlet>
	</main>

	<footer id="site-footer">

		<p>
			This site is for demonstration purposes only. It is not intended for commercial
			use.
		</p>

	</footer>

</div>
