
li {
    padding: 1px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    border-collapse: collapse;
    cursor: move;
    list-style: none;
}

.item-dragged-over {
    border: 2px solid #56d456;
    color: #b7b7b7;
    opacity: 0.5;
}


.being-dragged {
    color: rgb(255, 94, 94);
}
