li {
	display: inline-grid;
	padding: 1px;
	border: 3px solid rgba(0, 0, 0, 0.0);
	border-collapse: collapse;
	cursor: move;
	list-style: none;
}


.display-as-block {
	display: block;
}


.being-dragged {
	color: rgb(255, 94, 94);
	opacity: 1;
	z-index: 1000;
}


.item-dragged-onto {
	z-index: 10;
	opacity: 0.65;
}


.item-dragged-onto-from-right {
	border-left: 3px solid #00ff00;
}


.item-dragged-onto-from-left {
	border-right: 3px solid #00ff00;
}


.item-dragged-onto-from-top {
	border-bottom: 3px solid #00ff00;
}


.item-dragged-onto-from-bottom {
	border-top: 3px solid #00ff00;
}
