<ng-container>
	<input type="text" [(ngModel)]="libraryName" placeholder="Name library..."/>
	<p>{{gettingImagesInstructions}}</p>
</ng-container>

<ng-container>
	<div>
		<p>Choose Image files from your own device:</p>
		<input type="file" multiple (change)="addImagesToLibrary($event.target.files)"/>
	</div>

	<div>
		<p>Or, enter Image URL if Image is stored elsewhere:</p>
		<input type="text" [(ngModel)]="imgURL" placeholder="enter URL..."/>
		<button (click)="addURLToLibrary()">Add</button>
	</div>
</ng-container>
