<div class="form-container">
	<form>

		<div *ngFor="let input of inputs" class="input-container">

			<p *ngIf="input.prompt">{{input.prompt}}</p>

			<label for="{{input.userProperty}}-input" hidden>{{input.placeholder}}</label>

			<input [type]="input.type"
				   id="{{input.userProperty}}-input"
				   name="{{input.userProperty}}"
				   required
				   placeholder="{{input.placeholder}}..."
				   [(ngModel)]="currentUser[input.userProperty]"
				   [minLength]="input.minLength"
			/>

		</div>

		<div>
			<button (click)="create()">Create</button>
		</div>

	</form>
</div>
