<!--------------
		mwlDraggable makes this item draggable.
		mwlDroppable allows you to drop a different item onto this item.
		The (drop) event happens when you drop that different item onto this item.
--------------->
<li		class="grid-list-item"
		mwlDraggable (dragStart)="set_isBeingDragged()" (dragEnd)="unset_isBeingDragged()"
		[class.being-dragged]="isBeingDragged"

		mwlDroppable (drop)="dropDraggedItemHere()"
		   (dragOver)="set_isBeingDraggedOnto()" (dragLeave)="unset_isBeingDraggedOnto()"
		dragOverClass="item-dragged-onto"
		[class.item-dragged-onto-from-left]="draggedOntoFromLeft"
		[class.item-dragged-onto-from-right]="draggedOntoFromRight"
>
	<div class="re-arrangeable-content-and-spacers-container">
		<div class="spacer  left-spacer"></div>

		<ng-content></ng-content>

		<div class="spacer  right-spacer"></div>
	</div>

</li>
