<nav>

	<div>

		<a *ngIf="(getTotalPages() > 0) && (getCurrentPageNumber() > 1)"
		   [routerLink]="['/' + routeBeforePageNumber, getPreviousPage()]"
		>
			previous
		</a>

		<a *ngIf="getCurrentPageNumber() < getTotalPages()"
		   [routerLink]="['/' + routeBeforePageNumber, getNextPage()]"
		>
			next
		</a>

		<p *ngIf="getTotalPages() > 0">
			Page {{getCurrentPageNumber()}} of {{getTotalPages()}}
		</p>

		<jump-to-page *ngIf="jumpToPageInput && (getTotalPages() > 1)"
					  [pageNumberInput]="jumpToPageInput.data"
					  [routeBeforePageNumber]="routeBeforePageNumber"
		>
		</jump-to-page>

	</div>

</nav>
