<div>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="menu1"
				data-toggle="dropdown">

			{{buttonText}}
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML CSSSSS</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
		</ul>
	</div>
</div>
