
a, a:hover {
	text-decoration: none;
}


input {
	margin: auto;
	padding: 5px;
	width: 60%;
	text-align: center;
}


header {
	margin-bottom: 30px;
}


.invisible {
	visibility: hidden;
}


.validating-input-container {
	margin: 10px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0); /* invisible border */
}


.validating-input-container.validating-input-with-error {
	border: 1px solid red;
	border-radius: 5px;
}
