
a, a:hover {
	text-decoration: none;
}


button {
	/*	height: 100%;  */
}


input {
	margin: auto;
	padding: 5px;
	text-align: center;
}


ul {
	padding: 0;
}


li {
	list-style: none;
}


li.grid-list-item {
	display: inline-grid;
	position: relative;
	padding: 1px;
	cursor: move;
	margin: 0;
}


li div {
	display: flex;
	height: 100%;
}


header {
	margin-bottom: 30px;
}


nav {
	padding: 5px 0;
	width: auto;
}


nav div {
	display: inline-flex;
}


img {
	margin: 10px 5px;
}


.invisible {
	visibility: hidden;
}


.input-container.nav-link-container {
	display: inline;
	margin: auto;
	padding: 0 3px;
	width: 100px;
}


.centered-nav-block-container {
	margin: auto;
}


.validating-input-container input[type='text'], .validating-input-container input[type='password'] {
	width: 300px;
}


#jump-to-page-number-input {
	width: 100px;
	height: 30px;
	margin: auto;
	font-size: 20px;
}


div.dropdown {
	width: 100px;
	margin: auto;
}


div.dropdown button {
	width: 100%;
}


ul.dropdown-menu {
	/*  min-width: 100px; */


}


ul.dropdown-menu li {
	width: inherit;
	border-bottom: 1px dotted lightgrey;
	padding: 0;
}


ul.dropdown-menu li.hovered {
	background-color: lightgrey;
}
