li {
	display: block;
	width: 100%;
}

hoverable-container {
	display: inherit;
	width: 100%;
	height: 100%;
/*	padding: 5px 10px 5px 10px; */
}


.dropdown-submenu {
	position: relative;
}


.dropdown-submenu .dropdown-menu {
	display: block;
	top: 0;
	left: 100%;
	margin-top: -1px;
}


li.menu-choice {
	border-bottom: 1px dotted lightgrey;
}


img {
	display: inline;
}

hoverable-container div.label-container {
	margin: 5px 0 5px 5px;
}
