<li role="presentation" class="menu-choice" [class.dropdown-submenu]="hasSubmenu()"
	(click)="toggleClick($event)" (mouseleave)="unHover_and_unClick(container)"
>
	<hoverable-container #container class="fill-parent">

		<start-data-process-list-item *ngIf="!(hasSubmenu())" [container]="this" [processArgs]="[data]">
			<div class="label-container">
				{{ getLabel() }}
			</div>
		</start-data-process-list-item>

		<submenu *ngIf="hasSubmenu()" [label]="getLabel()" [clicked]="clicked" [data]="data">
		</submenu>

	</hoverable-container>

</li>
