<div><p>{{heading}}</p></div>

<div class="input-container">

	<label for="email-input" hidden>Current Email</label>
	<input type="text"
		   id="email-input"
		   name="email"
		   required
		   placeholder="Current Email..."
		   [minLength]="userValidationRules.emailMinLength"
		   [(ngModel)]="currentUser.email"
	/>

</div>

<div class="input-container">

	<label for="new-email-input" hidden>New Email</label>
	<input type="text"
		   id="new-email-input"
		   name="new-email"
		   required
		   placeholder="New Email..."
		   [minLength]="userValidationRules.emailMinLength"
		   [(ngModel)]="currentUser.newEmail"
	/>

</div>


<div class="input-container">

	<label for="password-input" hidden>Current Password</label>
	<input type="password"
		   id="password-input"
		   name="password"
		   required
		   placeholder="Password..."
		   [minLength]="userValidationRules.passwordMinLength"
		   [(ngModel)]="currentUser.password"
	/>

</div>

<div>
	<button (click)="save()">Save Changes</button>
</div>
